@import url('https://fonts.googleapis.com/css2?family=Lato|lato light');
@import url('https://fonts.googleapis.com/css2?family=lato_light:wght@400;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :not(pre) > code {
    @apply px-1 py-0.5 font-mono rounded bg-neutral-900 text-yellow-200;
    font-size: 0.9em;
  }

  h1 {
    @apply mb-6 text-4xl font-bold tracking-tight md:text-5xl;
  }
}

a {
  @apply underline
}

.markdown {
  @apply mb-1;
}

.alert .markdown {
  @apply mb-0;
}

.markdown p {
  @apply mb-3;
}

.btn:disabled {
  @apply text-neutral-400 bg-neutral-700;
}

body {
  background-color: rgb(12, 59, 95);
  font-family: lato-light, lato, sans-serif;
  color: white;
}

h1 {
  font-size: 32px;
  letter-spacing: 0.05em;
  font-family: lato-light, lato, sans-serif;
  line-height: 1.2em;
}

.headerText {
  background-color: white;
  margin-bottom: -2px;
  padding-right: 10px;
  padding-top: 10px;
  width: 100%;
  text-align: right;
}

img {
  display: inline;
}
