@import url('https://fonts.googleapis.com/css2?family=Lato|lato light');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :not(pre) > code {
    @apply px-1 py-0.5 font-mono rounded bg-neutral-900 text-yellow-200;
    font-size: 0.9em;
  }

  h1 {
    @apply mb-6 text-4xl font-bold tracking-tight md:text-5xl;
  }
}

a {
  @apply underline
}

.markdown {
  @apply mb-1;
}

.alert .markdown {
  @apply mb-0;
}

.markdown p {
  @apply mb-3;
}

.btn:disabled {
  @apply text-neutral-400 bg-neutral-700;
}

html, body {
  height: 100%;
}

body {
  /* background-color: rgb(12, 59, 95); */
  background-color: #90ccca;
  font-family: lato-light, lato, sans-serif;
  color: rgba(7,33,54,1);
  background-image: url('/images/background_blur2.jpg');
/*  background-image: url('https://static.wixstatic.com/media/0db8a3_0703087624fb4f019f1109c9e4ab471f~mv2.jpg/v1/fill/w_2048,h_1082,al_c/0db8a3_0703087624fb4f019f1109c9e4ab471f~mv2.jpg');*/
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 32px;
  /*letter-spacing: 0.05em;*/
  font-family: lato-light, lato, sans-serif;
  /*line-height: 1.2em;*/
  /*color: #0C3B5F;*/
  color: rgba(7,33,54,1);
}

h2 {
  font-size: 20px;
  /*letter-spacing: 0.05em;*/
  font-family: lato-light, lato, sans-serif;
  /*line-height: 1.2em;*/
  /*color: #0C3B5F;*/
  color: rgba(7,33,54,1);
  padding-top: 20px;
}

.headerText {
  background-color: white;
  margin-bottom: -2px;
  padding-right: 10px;
  padding-top: 10px;
  width: 100%;
  text-align: right;
}

img {
  display: inline;
}

footer {
  padding: 24px;
  /* background-color: #90ccca; */
  background-color: rgb(12, 59, 95);
  width: 100%;
  color: white;
  flex-shrink: 0;
}

.main {
  flex: 1 0 auto;
  padding: 24px;
}

.paragraph {
  margin-top: 10px;
}
